  <head>
    <title>
      Welcome
    </title>
  </head>
  <body>
    <h1>
      Hello!
    </h1>
    <p>
    This website was configured by Ansible
    </p>
    <p>
    {{ ansible_managed }}
    </p>
  </body>

</html>
