Vagrant.configure("2") do |config|
  config.ssh.insert_key = false
{% for box in boxes %}
  config.vm.define "{{ box.name }}" do |{{ box.name }}|
    {{ box.name }}.vm.box = "{{ box.flavour }}"
    {{ box.name }}.vm.network "forwarded_port", guest: {{ box.guest_http_port }}, host:{{ box.external_http_port }}
    {{ box.name }}.vm.network "forwarded_port", guest: {{ box.guest_https_port }}, host: {{ box.external_https_port }}
  end
{% endfor %}
end
