
server {
  listen 80;
  listen [::]:80  ipv6only=on;

  root /usr/share/nginx/html;
  index index.html index.htm;

  server_name localhost;

  location {{ base_path  }} {
    try_files $uri $uri/ =404;
  }
}
